{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
    {% include "_public_filters.html" %}
    {% include "_banlist_nav.html" %}

    <div class="table-scroll">
        <table class="ban-table">
            <thead>
                <tr>
                    <th>卡图</th>
                    <th>卡名</th>
                    <th>变化</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
                {% for card in cards %}
                <tr>
                    <td>
                        <a class="card-image-link" href="https://cdn.233.momobako.com/ygoimg/jp/{{ card.id }}.jpg" data-caption="{{ card.name }}" title="点击查看大图">
                            <img src="https://cdn.233.momobako.com/ygoimg/jp/{{ card.id }}.jpg!half" alt="{{ card.name }}" width="100">
                        </a>
                    </td>
                    <td>
                        <a class="card-link" href="https://ygocdb.com/card/{{ card.id }}" target="_blank" rel="noopener noreferrer">{{ card.name }}</a>
                    </td>
                    <td>
                        {% if card.old_status == 3 %}
                            <div class="status-tag {{ status_class_map[card.old_status] }}">{{ status_map[card.old_status] }}</div>
                        {% else %}
                            <img class="status-icon" src="{{ url_for('static', filename=status_class_map[card.old_status] + '.svg') }}" alt="{{ status_map[card.old_status] }}">
                        {% endif %}
                        =>
                        {% if card.status == 3 %}
                            <div class="status-tag {{ status_class_map[card.status] }}">{{ status_map[card.status] }}</div>
                        {% else %}
                            <img class="status-icon" src="{{ url_for('static', filename=status_class_map[card.status] + '.svg') }}" alt="{{ status_map[card.status] }}">
                        {% endif %}
                        {% if card.change_label %}
                            <span class="change-tag {{ card.change_class }}">{{ card.change_label }}</span>
                        {% endif %}
                    </td>
                    <td>{{ card.notes or '' }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" class="empty-row">暂无数据</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
