{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">
<script src="{{ url_for('static', filename='edit.js') }}" defer></script>
{% endblock %}

{% block content %}
    {% include "editor/_toolbar.html" %}

    {% if edit_authenticated %}
        {% include "editor/_banlist_navigation.html" %}
        {% if ban_list %}
            {% include "editor/_banlist_actions.html" %}
            {% include "editor/_card_create_form.html" %}
        {% else %}
            <div class="filter-box">
                <div class="empty-row">请先创建该年份的禁卡表，再添加卡片。</div>
            </div>
        {% endif %}
        {% include "editor/_create_modal.html" %}
    {% endif %}

    {% include "editor/_card_table.html" %}
{% endblock %}
